*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #af2e2e;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background: #f6f6f6;
}
